html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #6F6F6F;
}

body {
    margin: 0;
}

header,
section,
footer {
    padding: 10px;
}

section {
    padding: 50px 0;

}

header img {
    max-width: 300px;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-right-radius: 40px;
}

.banner {
    background-color: #202020;
    color: white;
    padding: 30px;
}

button {
    padding: 0px 48px;
    background: #009E2D;
    line-height: 64px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    border: 0px;
    width: 300px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 50px 0px;
}

button:hover {
    background-color: #00621E;
}

h1,
h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.banner h1 {
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: -12px;
    font-weight: 600;
}

.banner h2 {
    color: #9A9B9A;
    margin-top: 10px;

}

.boxesrow {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    max-width: 235px;
    display: inline-block;
    padding: 20px;
    width: 500px;
    height: 500px;
    max-height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

.quote {
    background-color: #202020;
    color: white;
    align-content: center;
}

blockquote {
    width: 550px;
    align-self: center;
    display: inline-block;
    height: auto;
    max-width: auto;
}

blockquote a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
    display: block;
    border-radius: 600px;
    outline: none;
    height: auto;
}

a:hover {
    background-color: #555555;
}

.oeuvres ul {
    color: #6F6F6F;
}

.oeuvres ul li {
    list-style-type: none;
    color: #6F6F6F;
    padding:  5px 0;
}

.oeuvres ul li a {
    color: #6F6F6F;
    dis
}

.oeuvres ul li a:hover {
    background-color: #eeeeee;
}


.fa {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-size: 48px;
    color: black;
}